<div class="alert alert-danger">
Are you sure to delete post <strong>{{model.title}}</strong>
</div>

<form {{action 'confirm' model on='submit'}}>
  <button class="btn btn-danger">Delete</button>
  {{#link-to 'posts' class="btn btn-light"}}Cancel{{/link-to}}
</form>
