<h1>Blog</h1>

  {{#each model as |post|}}
<article class="blog-post">
<h3>{{post.title}}</h3>
<p>{{post.content}}</p>
{{#link-to 'posts.show' post}}show{{/link-to}}
</article>
  {{/each}}

  {{infinity-loader infinityModel=model}}