<form {{action 'save' model on='submit'}}>

  {{#each model.errors.base as |error|}}
<p class="error">{{error.message}}</p>
  {{/each}}

<div class="form-group">
  <label for="title">Name</label>
  {{input value=model.title id="title" placeholder="Title" name="title" class=(concat (if model.errors.title-field 'is-invalid ') "form-control") }}
  <div class="invalid-feedback">
    {{#each model.errors.title-field as |error|}}
    {{error.message}}
    {{/each}}
  </div>
</div>

<div class="form-group">
  <label for="content">Content</label>
  {{textarea value=model.content id="content" placeholder="Content" name="content" class=(concat (if model.errors.content-field 'is-invalid ') "form-control") cols="80" rows="6"}}
  <div class="invalid-feedback">
    {{#each model.errors.content-field as |error|}}
    {{error.message}}
    {{/each}}
  </div>
</div>

<p><button>Create</button> or {{#link-to 'posts'}}Cancel{{/link-to}}</p>
  </form>