<article class="blog-post">
<h3>{{model.title}}</h3>
<p>{{model.content}}</p>
{{#link-to 'posts.edit' model class="btn btn-primary btn-sm"}}edit{{/link-to}}
{{#link-to 'posts.destroy' model class="btn btn-danger btn-sm"}}destroy{{/link-to}}
{{#link-to 'posts' class="btn btn-outline-light btn-sm"}}Back to list{{/link-to}}
</article>
