body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.blog-post {
    margin-bottom: 4rem;
}

h1, h2, h3 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-post h3 {
    margin-bottom: .25rem;
    font-size: 2.0rem;
}

.blog-post p {
   margin-top: 0;
    margin-bottom: 1rem;

}
