<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}Blogasker{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{#link-to "index" class="nav-link"}}
        Home
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "posts" class="nav-link"}}
        Posts
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'posts.new' class="btn btn-primary"}}New post{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<main class="container">
{{outlet}}
</main>
